{% extends 'khosh_kam/base/base.html' %}
{% load static %}
{% load render_partial %}
{% block title_khosh_kam %}
{% if 'maliles' in request.path %}
همه محصولات | ملیله خوش کام
{% elif 'search' in request.path %}
جستوجو | {{ q }} | ملیله خوش کام
{% elif 'filter' in request.path %}
فیلتر پیشرفته | ملیله خوش کام
{% else %}
دسته بندی | {{ category.title }} | ملیله خوش کام
{% endif %}
{% endblock title_khosh_kam %}

{% block style_header_base %}
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/sal.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">



<style>
  .checkbox-wrapper-39 *,
  .checkbox-wrapper-39 *::before,
  .checkbox-wrapper-39 *::after {
    box-sizing: border-box;
  }

  .checkbox-wrapper-39 label {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .checkbox-wrapper-39 input {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-39 input:checked ~ .checkbox {
   transform: rotate(45deg);
   width: 14px;
   margin-left: 12px;
   border-color: #24c78e;
   border-top-color: transparent;
   border-left-color: transparent;
   border-radius: 0;
  }

  .checkbox-wrapper-39 .checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid #434343;
    border-radius: 6px;
    transition: all 0.375s;
  }


    </style>
    <style>
        /* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.shop-submenu {
    
  align-items: center;
  justify-content: center;
}


::selection {
  color: #fff;
  background: #17a2b8;
  
  
}
.wrapper {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.price-input {
  width: 100%;
  display: flex;
  margin: 40px 0 45px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 12px;
  margin-left: 2px;
  border-radius: 2px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 20px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.range-input {
  position: relative;
}
.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}



#circle {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #C0C0C0;
    margin-bottom: 30px;
    margin-right: 30px;
    }
    </style>

{% endblock style_header_base %}

{% block header_khosh_kam %}
    {% render_partial 'header_base' %}
{% endblock header_khosh_kam %}
{% block main_khosh_kam %}

   <div class="axil-breadcrumb-area" style="height: 10px; background-color: white;">
            <div class="container">
                <div class="row align-items-center"   >
                        <div class="inner" >
                            <ul class="axil-breadcrumb">
                                <li class="axil-breadcrumb-item"><a href="{% url 'home' %}">خانه</a></li>
                                <li class="separator"></li>
                                {% if 'maliles' in request.path %}
                                <li class="axil-breadcrumb-item active" aria-current="page">همه محصولات</li>
                                {% elif 'search' in request.path %}
                                <li class="axil-breadcrumb-item active" aria-current="page"> جستوجو</li>
                                {% else %}
                                <li class="axil-breadcrumb-item active" aria-current="page">دسته بندی</li>
                                {% endif %}
                            </ul>
                           </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area  -->

        <!-- Start Shop Area  -->
        <div class="axil-shop-area axil-section-gap bg-color-white">

          {% render_partial 'malile_khosh_kam:advanced-filter' %}
        
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="axil-shop-top mb--40">
                                    <div
                                        class="category-select align-items-center justify-content-lg-end justify-content-between">
                                        <!-- Start Single Select  -->
                                        <span class="filter-results">نمایش {{ object_list.all.count}} از {{ page_obj.paginator.count }} محصول</span>
                                        <select class="single-select">
                                            <option>جدیدترین</option>
                                            <option>قدیمی ترین</option>
                                            <option>ارزان ترین</option>
                                            <option>گران ترین</option>

                                        </select>
                                        <!-- End Single Select  -->
                                    </div>
                                    <div class="d-lg-none">
                                        <button class="product-filter-mobile filter-toggle"><i
                                                class="fas fa-filter"></i> فیلتر</button>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- End .row -->
                        <div class="row row--15">
                            {% for malile in object_list %}
                            <div class="col-xl-3 col-lg-4 col-sm-6">
                                <div class="axil-product product-style-one has-color-pick mt--40">
                                    <div class="thumbnail">
                                        <a href="{% url 'malile_khosh_kam:malile_detail' malile.id %}">
                                            <img src="{{ malile.image.url }}"
                                                alt="Product Images">
                                        </a>
                                        <div class="label-block label-right">
                                            {% if malile.discount %}
                                            <div class="product-badget">{{ malile.discount }}% تخفیف</div>
                                            {% endif %}
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="wishlist"><a href="wishlist.html"><i
                                                            class="far fa-heart"></i></a></li>
                                                <li class="select-option"><a href="cart.html">اضافه به سبد خرید</a></li>
                                                <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                        data-bs-target="#quick-view-modal"><i
                                                            class="far fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="inner">
                                            <h5 class="title"><a href="{% url 'malile_khosh_kam:malile_detail' malile.id %}">{{ malile.title }}</a></h5>
                                            <div class="product-price-variant">
                                                {% if malile.discount %}
                                                <span class="price current-price">{{ malile.get_discounted_malile_price }}</span>
                                                <span class="price old-price">{{ malile.price }}</span>
                                                {% else %}
                                                <span class="price current-price">{{ malile.price }}</span>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- End Single Product  -->
                        </div>
                        <div class="text-center pt--20 navbar" style="margin: auto;width: 50%;  padding: 10px;">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                  <li class="page-item">
                                    <a class="page-link" href="{% url 'malile_khosh_kam:all-maliles' page_obj.previous_page_number %}">قبلی</a>
                                  </li>
                                  {% endif %}
                                {% for page in page_obj.paginator.page_range  %}
                                {% if page == page_obj.number %}
                                  <li class="page-item active"><a class="page-link" href="{% url 'malile_khosh_kam:all-maliles' page %}">{{page}}</a></li>
                                  {% else %}
                                  <li class="page-item ">
                                    <a class="page-link" href="{% url 'malile_khosh_kam:all-maliles' page %}">
                                      {{ page }}
                                    </a>
                                  </li>
                                  {% endif %}
                                  {% endfor %}
                                  {% if page_obj.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" href="{% url 'malile_khosh_kam:all-maliles' page_obj.next_page_number %}">بعدی</a>
                                  </li>
                                  {% endif %}
                                </ul>
                              </nav>
                              
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .container -->
        </div>
        <!-- End Shop Area  -->

        <!-- Start Axil Newsletter Area  -->
        <div class="axil-newsletter-area axil-section-gap pt--0">
            <div class="container">
                <div class="etrade-newsletter-wrapper bg_image bg_image--5">
                    <div class="newsletter-content">
                        <span class="title-highlighter highlighter-primary2"><i
                                class="fas fa-envelope-open"></i>خبرنامه</span>
                        <h2 class="title mb--40 mb_sm--30">دریافت آپدیت هفتگی</h2>
                        <div class="input-group newsletter-form">
                            <div class="position-relative newsletter-inner mb--15">
                                <input placeholder="example@gmail.com" type="text">
                            </div>
                            <button type="submit" class="axil-btn mb--15">اشتراک</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .container -->
        </div>
        <!-- End Axil Newsletter Area  -->
    {% endblock main_khosh_kam %}

{% block footer_khosh_kam %}
{% include 'khosh_kam/base/footer_base.html' %}
{% endblock footer_khosh_kam %}

{% block js_khosh_kam %}
   <!-- Modernizer JS -->
    <script src="{% static 'js/vendor/modernizr.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/slick.min.js' %}"></script>
    <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
    <!-- <script src="assets/js/vendor/jquery.style.switcher.js"></script> -->
    <script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/vendor/sal.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/vendor/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/vendor/counterup.js' %}"></script>
    <script src="{% static 'js/vendor/waypoints.min.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'js/rtl-main.js' %}"></script>
<script>
    const rangeInput = document.querySelectorAll(".range-input input"),
  priceInput = document.querySelectorAll(".price-input input"),
  range = document.querySelector(".slider .progress");
let priceGap = 1000;

priceInput.forEach((input) => {
  input.addEventListener("input", (e) => {
    let minPrice = parseInt(priceInput[0].value),
      maxPrice = parseInt(priceInput[1].value);

    if (maxPrice - minPrice >= priceGap && maxPrice <= rangeInput[1].max) {
      if (e.target.className === "input-min") {
        rangeInput[0].value = minPrice;
        range.style.left = (minPrice / rangeInput[0].max) * 100 + "%";
      } else {
        rangeInput[1].value = maxPrice;
        range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
      }
    }
  });
});

rangeInput.forEach((input) => {
  input.addEventListener("input", (e) => {
    let minVal = parseInt(rangeInput[0].value),
      maxVal = parseInt(rangeInput[1].value);

    if (maxVal - minVal < priceGap) {
      if (e.target.className === "range-min") {
        rangeInput[0].value = maxVal - priceGap;
      } else {
        rangeInput[1].value = minVal + priceGap;
      }
    } else {
      priceInput[0].value = minVal;
      priceInput[1].value = maxVal;
      range.style.left = (minVal / rangeInput[0].max) * 100 + "%";
      range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
    }
  });
});

</script>
{% endblock js_khosh_kam %}