<aside class="axil-sidebar-area">

    <!-- Start Single Widget  -->
    <div class="axil-single-widget mt--40">
        <h6 class="widget-title">آخرین پست ها</h6>

        <!-- Start Single Post List  -->
        <div class="content-blog post-list-view mb--20">
            <div class="thumbnail">
                <a href="blog-details.html">
                    <img src="assets/images/blog/blog-04.png" alt="Blog Images">
                </a>
            </div>
            <div class="content">
                <h6 class="title"><a href="blog-details.html">لورم ایپسوم متن ساختگی با
                        تولید </a></h6>
                <div class="axil-post-meta">
                    <div class="post-meta-content">
                        <ul class="post-meta-list">
                            <li>بهمن 27, 1401</li>
                            <li>300 هزار بازدید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Post List  -->

        <!-- Start Single Post List  -->
        <div class="content-blog post-list-view mb--20">
            <div class="thumbnail">
                <a href="blog-details.html">
                    <img src="assets/images/blog/blog-05.png" alt="Blog Images">
                </a>
            </div>
            <div class="content">
                <h6 class="title"><a href="blog-details.html">لورم ایپسوم متن ساختگی با
                        تولید </a></h6>
                <div class="axil-post-meta">
                    <div class="post-meta-content">
                        <ul class="post-meta-list">
                            <li>اسفند 20, 1401</li>
                            <li>300 هزار بازدید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Post List  -->

        <!-- Start Single Post List  -->
        <div class="content-blog post-list-view">
            <div class="thumbnail">
                <a href="blog-details.html">
                    <img src="assets/images/blog/blog-06.png" alt="Blog Images">
                </a>
            </div>
            <div class="content">
                <h6 class="title"><a href="blog-details.html">لورم ایپسوم متن ساختگی با
                        تولید </a></h6>
                <div class="axil-post-meta">
                    <div class="post-meta-content">
                        <ul class="post-meta-list">
                            <li>آبان 15, 1401</li>
                            <li>300 هزار بازدید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Post List  -->

    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget mt--40">
        <h6 class="widget-title">محصولات پر بازدید</h6>
        <ul class="product_list_widget recent-viewed-product">
            <!-- Start Single product_list  -->
            <li>
                <div class="thumbnail">
                    <a href="blog-details.html">
                        <img src="assets/images/product/product-12.jpg" alt="Blog Images">
                    </a>
                </div>
                <div class="content">
                    <h6 class="title"><a href="blog-details.html">تیشرت مردانه</a></h6>
                    <div class="product-meta-content">
                        <span class="woocommerce-Price-amount amount">
                            <del>30.000</del>
                            20.000
                        </span>
                    </div>
                </div>
            </li>
            <!-- End Single product_list  -->
            <!-- Start Single product_list  -->
            <li>
                <div class="thumbnail">
                    <a href="blog-details.html">
                        <img src="assets/images/product/product-10.jpg" alt="Blog Images">
                    </a>
                </div>
                <div class="content">
                    <h6 class="title"><a href="blog-details.html">کفش نایک</a></h6>
                    <div class="product-meta-content">
                        <span class="woocommerce-Price-amount amount">
                            <del>200.000</del>
                            150.000
                        </span>
                    </div>
                </div>
            </li>
            <!-- End Single product_list  -->
            <!-- Start Single product_list  -->
            <li>
                <div class="thumbnail">
                    <a href="blog-details.html">
                        <img src="assets/images/product/product-11.jpg" alt="Blog Images">
                    </a>
                </div>
                <div class="content">
                    <h6 class="title"><a href="blog-details.html">کفش آدیداس</a></h6>
                    <div class="product-meta-content">
                        <span class="woocommerce-Price-amount amount">
                            <del>300.000</del>
                            200.000
                        </span>
                    </div>
                </div>
            </li>
            <!-- End Single product_list  -->
        </ul>

    </div>
    <!-- End Single Widget  -->

    <!-- Start Single Widget  -->
    <div class="axil-single-widget mt--40 widget_search">
        <h6 class="widget-title">جستوجو</h6>
        <form class="blog-search" action="#">
            <button class="search-button"><i class="fal fa-search"></i></button>
            <input type="text" placeholder="جستوجو ...">
        </form>
    </div>
    <!-- End Single Widget  -->

    <!-- Start Single Widget  -->
    <div class="axil-single-widget mt--40 widget_archive">
        <h6 class="widget-title">آرشیو</h6>
        <ul>
            <li><a href="#">تیر 1401</a></li>
            <li><a href="#">مرداد 1401</a></li>
            <li><a href="#">شهریور 1401</a></li>
            <li><a href="#">مهر 1401</a></li>
        </ul>
    </div>
    <!-- End Single Widget  -->

    <!-- Start Single Widget  -->
    <div class="axil-single-widget mt--40 widget_archive_dropdown">
        <h6 class="widget-title">آرشیو دراپ داون</h6>
        <select>
            <option>انتخاب ماه</option>
            <option>مهر 1401 (4)</option>
            <option>آبان 1401 (4)</option>
            <option>آذر 1401 (4)</option>
            <option>دی 1401 (4)</option>
        </select>
    </div>
    <!-- End Single Widget  -->

    <!-- Start Single Widget  -->

    <!-- End Single Widget  -->

</aside>
<!-- End Sidebar Area -->
</div>
</div>
</div>
</div>