<div class="container">
    <div class="row">
       
        <div class="col-lg-3">
            <form action="{% url 'malile_khosh_kam:filter' %}"  method="post" >
                {% csrf_token %}
            <div class="axil-shop-sidebar">
                <div class="d-lg-none">
                    <button class="sidebar-close filter-close-btn"><i class="fas fa-times"></i></button>
                </div>
                <div class="toggle-list product-categories active">
                    <h6 class="title">دسته بندی ها</h6>
                    <div class="shop-submenu">
                       
                        <ul>
                            {% for cat in category %}
                            <li>
                            <div class="checkbox-wrapper-39" style="float: right;">
                                
                                <label>
                                  <input type="checkbox" value="{{ cat.slug }}" id="cat_chekck" name="cat_chekck"/>
                                  <span class="checkbox"> </span>
                                </label>
                              </div>
                              <div style="margin-right : 30px;">{{ cat.title }}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="toggle-list product-categories active">
                <div class="product-variation">
                  <h6 class="title">رنگ:</h6>
                  <div class="shop-submenu">
                       
                    <ul>
                        <li>
                        <div class="checkbox-wrapper-39" style="float: right;">
                            
                            <label>
                              <input type="checkbox"  id="cat_chekck" name="cat_chekck" checked disabled/>
                              <span class="checkbox"> </span>
                            </label>
                          </div>
                          <div style="margin-right : 30px;"> 
                            <ul class="color-variant">
                            <li class="color-extra-01 active"><span><span class="color" style="background-color:#C0C0C0;"></span></span>
                            </li>
                        </ul></div>
                        </li>
                    </ul>
                </div>
              </div>
              </div>
                <div class="toggle-list product-price-range active">
                    <h6 class="title">قیمت</h6>
                    <div class="shop-submenu">
                        
                        <div class="price-input">
                            <div class="field">
                              <input type="number" class="input-min" name="min" value="0">
                            </div>
                            <div class="separator">-</div>
                            <div class="field">
                              <input type="number" class="input-max" name="max" value="10000000">
                            </div>
                          </div>
                          <div class="slider">
                            <div class="progress"></div>
                          </div>
                          <div class="range-input">
                            <input type="range" class="range-min" min="0" max="10000000" value="0" step="100">
                            <input type="range" class="range-max" min="0" max="10000000" value="10000000" step="100">
                          </div>
                        
        
                        
                    </div>
                </div>
                <input type="submit" class="axil-btn btn-bg-primary"  value="فیلتر">
            </div>
            <!-- End .axil-shop-sidebar -->
        </form>